* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-section {
  padding: 100px 90px;
}

.my-education__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.my-education__company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.my-education__professional {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.my-education__date {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.my-education__devider {
  color: #000000;
  font-weight: 400;
}

.about-me {
  margin: 0 0 51px 0;
}

.about-me__profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 19 0;
}

.about-me__name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 102 342 40 88;
}

.about-me__description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 88 212 342 40;
}

.my-projects {
  margin-bottom: 50px;
}

.my-projects__item {
  color: #000;
  font-weight: 700;
}

.my-projects__list {
  padding: 0 0 0 17px;
}

.my-projects__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects__bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.my-work-experience__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.my-work-experience__company {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.my-work-experience__position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10 0;
}

.my-work-experience__time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 10 0 10 0;
}

.my-work-experience__devider {
  color: #000000;
  font-weight: 400;
}

.my-work-experience__duties {
  padding: 18px;
}

.my-work-experience__duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience__company {
  margin: 15px;
}

.sidebar-section__my-photo {
  height: 354px;
  width: 370px;
  left: 40px;
  top: 80px;
  border-radius: 0px;
}

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.sidebar-section-Contacts,
.Tech-skills,
.Soft-skills {
  margin: 50px 0 0 40px;
}

.sidebar-section-Contacts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin: 8px;
}

.sidebar-section-Contacts__type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}

.sidebar-section-Contacts__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #c7cace;
}

.Tech-skills__list {
  padding: 0 0 0 18px;
}

.Soft-skills__list {
  padding: 0 0 0 19px;
}

.Tech-skills__item {
  color: #fb6d3a;
}

.Soft-skills__item {
  color: #fb6d3a;
}

.Tech-skills__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.Soft-skills__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}/*# sourceMappingURL=main.css.map */