* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
}

.main-content-section {
  padding: 90px 30px;
}

.main-content__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.my-education__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.my-education__company {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.my-education__professional {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.my-education__date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.my-education__devider {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.specilazation {
  display: flex;
}

.first {
  margin-bottom: 30px;
}

.student {
  margin-bottom: 10px;
}

.about-me {
  margin-bottom: 60px;
}

.about-me__Name {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #000;
  margin-bottom: 10px;
}

.profession {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #000;
}

.about-me__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #595959;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-projects {
  margin-bottom: 60px;
}

.my-projects__item {
  color: #000;
  font-weight: 700;
  margin-bottom: 30px;
}

.my-projects__list {
  padding: 0 0 0 17px;
}

.my-projects__link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #595959;
}
.my-projects__link:hover {
  color: #fb6d3a;
}

.my-projects__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
  margin-top: 10px;
}

.my-projects__bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.my-work-experience__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.my-work-experience__company {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.my-work-experience__position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my-work-experience__time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 10 0 10 0;
}

.my-work-experience__devider {
  color: #000000;
  font-weight: 400;
}

.my-work-experience__duties {
  padding: 18px;
}

.my-work-experience__duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience__company {
  margin: 15px;
}

.sidebar-section__my-photo {
  max-height: 400px;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 0px;
}

.sidebar-section {
  background-color: #1e2939;
  width: 450px;
  padding: 40px 0;
}

.sidebar-section-Contacts,
.tech-skills {
  margin: 50px 0 0 40px;
}

.sidebar-section-Contacts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin: 8px;
}

.sidebar-section-Contacts__type {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.71;
  color: #fff;
  margin-right: 7px;
}

.sidebar-section-Contacts__link {
  display: inline-block;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.71;
  color: #c7cace;
  text-decoration: underline;
}
.sidebar-section-Contacts__link:hover {
  color: #fb6d3a;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decoration {
  text-decoration: underline;
}

.tech-skills {
  margin: 50px 0 0 40px;
}

.tech-skills__item {
  color: #fb6d3a;
}

.soft-skills {
  margin: 50px 0 0 40px;
}

.soft-skills__item {
  color: #fb6d3a;
}

.tech-skills__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
}

.tech-skills__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.71;
  color: white;
}

.progress {
  color: greenyellow;
}

.soft-skills__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.71;
  color: white;
}

.tech-skills__title {
  margin-bottom: 10px;
  color: #ffffff;
}

.soft-skills__title {
  margin-bottom: 10px;
  color: #ffffff;
}

.languages-skills {
  margin: 50px 0 0 40px;
}

.languages__list {
  padding: 0 0 0 19px;
}

.sidebar-title {
  margin-bottom: 10px;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */