.about-me {
    margin-bottom: 60px;
}

.about-me__Name {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #000;
    margin-bottom: 10px;
}

.profession {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #000;
    // margin: 102 342 40 88;
}

.about-me__description {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #595959;
    margin-top: 20px;
    margin-bottom: 20px;
}