.about-me {
    margin: 0 0 51px 0;
}

.about-me__profession {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 55px;
    color: #000;
}

.about-me__name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 102 342 40 88;
}

.about-me__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-top: 20px;
    margin-bottom: 20px;
}