.main-content-section {
    padding: 90px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-content__title {
    font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}