.main-content-section {
    padding: 90px 30px;
    
}

.main-content__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}