.main-content-section {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 30px;
    
}

.main-content__title {
    font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}