
.my-education__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.my-education__company {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.my-education__professional {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.my-education__date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.my-education__devider {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}



.specilazation {
  display: flex;
}

.first {
  margin-bottom: 30px;
}