.my-work-experience__title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

.my-work-experience__company {
    color: #fb6d3a;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.my-work-experience__position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.my-work-experience__time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin: 10 0 10 0;
}

.my-work-experience__devider {
    color: #000000;
    font-weight: 400;
}

.my-work-experience__duties {
    padding: 18px;
}

.my-work-experience__duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-experience__company {
    margin: 15px;
}