.my-projects {
  margin-bottom: 60px;
}

.my-projects__item {
  color: #000;
  font-weight: 700;
  margin-bottom: 30px;
}

.my-projects__list {
  padding: 0 0 0 17px;
}

.my-projects__link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #595959;
  &:hover {
    color: #fb6d3a;
  }
}

.my-projects__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
  margin-top: 10px;
}

.my-projects__bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
